
.nobull ul  {
list-style-type: none;
}

em {
	color: rgba(200, 0, 0, 1) !important;
}


blockquote {
	font-style: inherit !important;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8) !important;
	background-color: rgba(0, 0, 0, 0.04) !important;
}

.big_formular blockquote{
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8) !important;
	background-color: rgba(0, 0, 0, 0.00) !important;
}

.fullwidthquote blockquote {width: 100% !important;}

img {border:none !important;}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {text-transform: none;}

body, li, p {
font-family:"Concourse t3" !important;
font-size: 0.7em !important;
}
h1,
h2,
h3 { font-family:"Concourse c2" !important; }
h4 { font-family:"Concourse c2" !important; }
h5,
h6 { font-family:"Concourse c3" !important; }

h1{ font-size: 50px !important;}
h3{ font-size: 44px !important;}
h4{ font-size: 34px !important;}

.two-floating-elements img{
width: 350px;
/*float: right;*/
}
.two-floating-elements ul{
display: block;
max-width: 55%;
float:left;
/* font-size: 0.7em; */
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
